<div class="panel">
  <div class="property">
    <span style="margin: 20px;">Property</span>
    <mat-radio-group>
      <mat-radio-button
        (click)="updateMetric('riskValue')"
        class="selectable"
        id="riskscore"
        name="property"
        value="riskscore"
        checked
      >
        Risk Score
      </mat-radio-button>
      <mat-radio-button
        (click)="updateMetric('adjustedValue')"
        class="selectable"
        id="adjustedValue"
        name="property"
        value="adjustedValue"
      >
        Adjusted Value at risk
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="mapborder radio-toolbar">
    <span style="margin: 20px;">Map Border</span>
    <span
      (click)="updateBorders($event)"
      class="button selectable clickedButton"
      id="state"
      >State</span
    >
    <span
      (click)="updateBorders($event)"
      style="right: 1px;"
      class="button selectable"
      id="cbsa"
      >CBSA</span
    >
  </div>
</div>

<highcharts-chart
  [Highcharts]="Highcharts"
  [constructorType]="'mapChart'"
  [options]="chartMap"
  style="width: 100%; height: 650px; display: block;"
  [(update)]="updateFlag"
  [callbackFunction]="chartCallback"
  [oneToOne]="true"
></highcharts-chart>
