body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.full-left {
  font-size: 15px;
  float: left;
  width: 100%;
  background-color: #eee;
}

.panel {
  display: flex;
  align-items: center;
  font-family: "Roboto";
  background-color: rgb(255, 255, 255);
  padding: 20px 0px;
  width: 100%;
  font-size: 12px;
  border-bottom: 2px solid #ddd;
}

.property {
  font-size: 15px;
  padding: 0px 10px;
  margin-left: 5px;
  width: auto;
}
mat-radio-button {
  margin: 0 10px;
}

.property input {
  margin: 0 60px;
}

.mapborder {
  font-size: 15px;
  border-left: 1px solid #ddd;
  padding: 10px;
}

b {
  margin-right: 10px;
}

.selectable {
  cursor: pointer;
}

.button {
  padding: 8px 30px;
  background-color: rgb(255, 255, 255);
  font-size: 15px;
  color: black;
  border: 2px solid #ddd;
  position: relative;
}

.button:hover {
  background-color: #b6c4f1;
}

.clickedButton {
  background-color: #eaf5ff;
  border: 2px solid rgb(47, 50, 230);
  color: rgb(47, 50, 230);
  z-index: 2;
}

@media screen and (max-width: 786px) {
  .panel {
    flex-direction: column;
  }
  .panel div {
    border: none;
    margin: 10px 5px;
  }
}
