<div class="panel">
  <span class="property">
    <b>Property</b>
    <input
      (click)="updateMetric($event)"
      class="selectable"
      type="radio"
      id="riskscore"
      name="property"
      value="riskscore"
      checked
    />
    <label for="riskscore">Risk Score</label>
    <input
      (click)="updateMetric($event)"
      class="selectable"
      type="radio"
      id="adjestedvalue"
      name="property"
      value="adjestedvalue"
    />
    <label for="adjestedvalue">Adjusted Value at Risk</label>
  </span>

  <span class="mapborder radio-toolbar">
    <b>Map Border</b>
    <span (click)="updateBorders($event)" class="button selectable" id="state"
      >State</span
    >
    <span (click)="updateBorders($event)" class="button selectable" id="cbsa"
      >CBSA</span
    >
  </span>
</div>

<highcharts-chart
  [Highcharts]="Highcharts"
  [constructorType]="'mapChart'"
  [options]="chartMap"
  style="width: 100%; height: 650px; display: block;"
  [(update)]="updateFlag"
  [callbackFunction]="chartCallback"
  [oneToOne]="true"
></highcharts-chart>
